<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.core.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/polipop/dist/css/polipop.default.min.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <title>Signup</title>
  </head>
  <body
    class="bg-light vh-100 d-flex justify-content-center align-items-center newSection">
    <div
      class="container bg-dark w-50 h-75 rounded-5 text-light d-flex flex-column align-items-center">
      <p class="display-2">Signup</p>
      <form class="text-center">
        <div class="form-group p-2">
          <input
            type="text"
            class="form-control"
            id="firstname-inp"
            placeholder="Firstname" />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            class="form-control"
            id="lastname-inp"
            placeholder="Lastname" />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            class="form-control"
            id="username-inp"
            placeholder="Username" />
        </div>
        <div class="form-group p-2">
          <input
            type="password"
            class="form-control"
            id="password-inp"
            placeholder="Password" />
        </div>
        <div class="form-group p-2">
          <input
            type="password"
            class="form-control"
            id="repeat-password-inp"
            placeholder="Repeat password" />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            class="form-control"
            id="gender-inp"
            placeholder="Gender" />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            class="form-control"
            id="role-inp"
            placeholder="Role" />
        </div>
        <button type="submit" class="btn btn-primary my-3">
          Register
        </button>
      </form>
      <a href="http://localhost:1010/login"
        >Already have an account?</a
      >
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/polipop/dist/polipop.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/signup/signup.js"></script>
</html>
